/* modifiche di stiele ugali a tutti */
:root {
    --primary: rgba(238, 238, 238, 0.681);
    --secondary: #d49850;
}

body {
    background-color: rgb(234, 234, 234);
    /* background-image: linear-gradient(90deg, #7eadf3 0%, #fbab7e 61%); */
}

h1,
h2,
h3 {
    font-family: "Bree Serif", serif;
}

h4,
h5,
h6,
p,
a,
.btn {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.categoryLink:link {
    color: black;
}

/* navbar */
.bg-ColorNavbarCustom {
    background-color: var(--secondary);
    border-radius: 0 0 10px 10px;
    height: 90px;
    z-index: 4;
    position: fixed;
    transition: top 0.4s;
}

.textColorCustom {
    color: rgb(0, 0, 0);
}

.btn-NavbarCustom {
    color: rgb(0, 0, 0);
    border: solid 2px rgb(0, 0, 0);
    border-radius: 50px;
    width: 55px;
    height: 55px;
    background-color: transparent;
}
.btn-NavbarCustom i {
    font-size: 26px;
}

.btn-NavbarCustom:hover {
    color: white;
    border: solid 2px white;
    border-radius: 50px;
}

.btn-custom-nav-smt {
    font-size: 26px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    border: solid 2px black;
    justify-content: center;
    border-radius: 50px;
}

.btn-custom-nav-smt:hover {
    color: white !important;
    border-color: white;
}

/* opzioni */
.bg-OpzionR {
    background-color: var(--secondary);
    color: rgb(0, 0, 0);
    transition: 0.3ms;
}
.bg-OpzionR a:hover {
    color: white;
}

.alert-Custom {
    background-color: var(--secondary);
}

/* main */
.img-reading {
    z-index: -8;
    margin-top: -150px;
    width: 95%;
    /* margin-left: -100px; */
}
/* .Container2Posizione {
    
    
} */

.imgCustomLogin {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -145px;
    width: 50vw;
    height: 77vh;
    z-index: -12;
    background-image: url(/public/images/login.png);
}

.imgCustomRegister {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -57px;
    width: 50vw;
    height: 70vh;
    z-index: -12;
    background-image: url(/public/images/register.svg);
}

.imgCustomOpzioniScrittore {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 200px;
    margin-left: -30px;
    width: 18vw;
    height: 75vh;
    z-index: -13;
    background-image: url(/public/images/Risorsa.png);
    transform: scaleX(-1);
}

.imgCustomOpzioniScrittore2 {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 150px;
    margin-left: 1510px;
    width: 20vw;
    height: 75vh;
    z-index: -13;
    background-image: url(/public/images/IrlandeseStrano.png);
}

.imgCustomOpzioniScrittore1 {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 170px;
    margin-left: -30px;
    width: 18vw;
    height: 75vh;
    z-index: -13;
    background-image: url(/public/images/Risorsa.png);
    transform: scaleX(-1);
}
.imgCustomOpzioniScrittore2b {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 270px;
    margin-left: 1510px;
    width: 20vw;
    height: 75vh;
    z-index: -13;
    background-image: url(/public/images/IrlandeseStrano.png);
}

/* footer */
.ContainerCustomFooter {
    border-top-color: 100px white;
    background-color: rgb(30, 30, 30);
}

.imgCustom1 {
    max-width: 100%;
    min-height: 250px;
    object-fit: cover;
}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-height {
    height: 60vh;
}

li {
    list-style-type: none;
}

.col-footer {
    margin-top: 3%;
    margin-left: 3%;
}

.ImgCustomF1 {
    width: 100%;
    height: 150px;
    margin-top: 20px;
}

.CardPolitica {
    border-color: black;
    backdrop-filter: blur(20px);
    box-shadow: 10px 10px 20px rgba(40, 40, 40, 0.897);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2%;
    overflow: hidden;
}

.buttonMenu {
    width: 55px;
    height: 55px;
}

/* modifiche di stile uguali a vari dispositivi  */

@media screen and (max-height: 750px) {
    .ContainerCustomFooter {
        height: 50vh;
        margin-top: 0;
    }
}

@media screen and (max-width: 750px) {
    .buttonMenu {
        display: none;
    }

    .custom-height {
        height: auto;
    }

    .vh-custom {
        height: 60vh !important;
    }

    .bg-ColorNavbarCustom {
        height: auto;
    }

    .btn-custom {
        width: auto;
    }

    .btn-custom-navbar {
        margin: 20px 0;
        width: auto;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 15px;
        cursor: pointer;
        color: rgb(13, 12, 12);
        background-color: rgb(255, 253, 253);
        backdrop-filter: blur(20px);
        box-shadow: 10px 10px 20px rgba(40, 40, 40, 0.897);
    }
}

@media screen and (min-width: 750px) {
    .smartScreen {
        display: none;
    }
}

.btn-custom-navbar:hover {
    color: white;
}

.TitleCustom {
    font-size: 70px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card1 {
    margin-top: 20px;
}

.TitleCustom {
    margin-top: 100px;
    margin-bottom: 100px;
}

.imgCustom1 {
    min-height: 250px;
    width: 100%;
}

.cardCustom {
    width: 150px;
    height: 50px;
}

.card1 {
    margin-top: 20px;
}

.card2 {
    margin-top: -30px;
    backdrop-filter: blur(20px) !important;
    box-shadow: 10px 10px 20px rgba(40, 40, 40, 0.897);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.PosiscionContainerFooter {
    overflow: hidden;
    backdrop-filter: blur(20px);
    box-shadow: 10px 10px 20px rgba(40, 40, 40, 0.897);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5%;
}

.card-custom {
    min-height: 100px;
    backdrop-filter: blur(20px);
    background-color: rgb(0, 0, 0, 0.25);
    border-radius: 20px;
}

/* nuovo css */
.PositionContainer {
    width: 90%;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgba(40, 40, 40, 0.897);
    backdrop-filter: blur(20px);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.PositionContainer-smartphone {
    width: 90%;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgba(40, 40, 40, 0.897);
    backdrop-filter: blur(20px);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.PositionContainerAdmin {
    box-shadow: 10px 10px 20px rgba(40, 40, 40, 0.897);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.accordion-item {
    backdrop-filter: blur(20px);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
    background-color: transparent !important;
}

.accordion-button {
    background-color: transparent !important;
    color: black !important;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.125);
}

.ColorSfond1 {
    width: 1200px;
    height: 3000px;
    /* background-color: rgb(232, 156, 120); */
    background-color: var(--primary);
    z-index: -9;
    transform: skew(25deg);
    margin-left: -16%;
    position: absolute;
}

.ColorSfond2 {
    width: 1350px;
    height: 3000px;
    /* background-color: rgb(112, 185, 227); */
    background-color: rgb(214, 214, 214);
    z-index: -11;
    transform: skew(360deg);
    margin-right: -40%;
    position: absolute;
}

.img-f1 {
    height: 150px;
    object-fit: cover;
}

.img-f2 {
    height: 250px;
    object-fit: cover;
}

.custom-img {
    min-width: 600px;
    max-width: 600px;
}

.card-style {
    backdrop-filter: blur(20px);
    box-shadow: 10px 10px 15px rgb(40, 40, 40);
    border-radius: 8px;
    margin: 20px 0;
    z-index: 1;
}

.card-style-categorie {
    backdrop-filter: blur(20px);
    box-shadow: 10px 10px 15px rgb(40, 40, 40);
    border-radius: 8px;
    margin: 20px 0;
    z-index: 2;
}

.btn-custom {
    width: auto;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 15px;
    color: rgb(13, 12, 12);
    background-color: rgb(255, 253, 253);
    backdrop-filter: blur(20px);
    box-shadow: 10px 10px 20px rgba(40, 40, 40, 0.897);
}

.btn-custom:hover {
    color: var(--secondary) !important;
}

.btn-custom-navbar {
    display: none;
    width: auto;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 15px;
    cursor: pointer;
    color: rgb(13, 12, 12);
    background-color: rgb(255, 253, 253);
    backdrop-filter: blur(20px);
    box-shadow: 10px 10px 20px rgba(40, 40, 40, 0.897);
}

.iconNavbar i:hover {
    color: white !important;
    border-color: white;
}

.iconNavbar i {
    font-size: 26px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    border: solid 2px black;
    justify-content: center;
    border-radius: 50px;
}

.dropdown {
    z-index: 1 !important;
}

.img-logo-2 {
    width: 280px;
    height: 280px;
}

.navbar-toggler {
    background-color: var(--secondary);
    border: solid 2px;
}

.welcome-margin {
    margin-top: 200px !important;
}

.search-orange {
    background-color: rgb(247, 129, 74);
}

.search-azure {
    background-color: #4ab8f7;
}

.card-animation {
    opacity: 0;
    transition: opacity 0.5s;
}

.card-animation.scrolled {
    opacity: 1;
}

.scrolled.slide-left {
    animation: slide-in-bottom 1s ease-in-out both;
    backdrop-filter: blur(20px);
    box-shadow: 10px 10px 20px rgba(40, 40, 40, 0.897);
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* searchbar */
.box {
    position: relative;
}

.input {
    width: 55px;
    height: 55px;
    padding: 10px;
    background: none;
    border: 2px solid #000000;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 26px;
    color: black;
    outline: none;
    transition: 0.5s;
}

.input:hover {
    border: 2px solid rgb(253, 253, 253);
    color: rgb(255, 255, 255);
}

.box:hover input {
    width: 340px;
    border-radius: 10px;
}

.box i {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #000000;
    transition: 0.2s;
}

.box:hover i {
    opacity: 0;
    z-index: -1;
}

#box-smartphone {
    display: none;
}

.hide {
    display: none;
}

.user-name:hover {
    color: black !important;
}

@media screen and (max-width: 450px) {
    .PositionContainer {
        padding: 10px !important;
        box-shadow: 5px 8px 0px rgba(40, 40, 40, 0.9);
    }

    .PositionContainer-smartphone {
        padding: 10px !important;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0);
    }

    .PositionContainerAdmin {
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0);
    }

    .ColorSfond1 {
        visibility: hidden;
    }

    .ColorSfond2 {
        visibility: hidden;
    }

    .welcome-margin {
        margin-top: 100px !important;
    }

    .btn-custom {
        font-size: 1.2rem;
        box-shadow: 5px 8px 0px rgba(40, 40, 40, 0.897);
    }

    .btn-custom-navbar {
        display: inline-block;
        width: 100%;
        font-size: 1.5rem;
        border-radius: 15px;
        cursor: pointer;
        color: rgb(13, 12, 12);
        background-color: rgb(255, 253, 253);
        backdrop-filter: blur(20px);
        box-shadow: 10px 10px 20px rgba(40, 40, 40, 0.897);
    }

    .imgCustomLogin {
        position: relative;
        height: 100vw;
        width: auto;
    }

    .imgCustomRegister {
        position: relative;
        height: 130vw;
        width: auto;
    }

    .Container2Posizione {
        height: auto;
    }

    .card-style p {
        font-size: 1rem !important;
    }

    .aCard {
        font-size: 1rem !important;
    }

    .imgCustomOpzioniScrittore {
        display: none;
    }

    .imgCustomOpzioniScrittore2 {
        display: none;
    }

    .imgCustomOpzioniScrittore1 {
        display: none;
    }

    .imgCustomOpzioniScrittore2b {
        display: none;
    }

    .custom-img {
        max-width: 300px;
        min-width: 300px;
        min-height: 200px;
    }

    .tags-table {
        font-size: 10px !important;
    }

    .accordion-body .col-12 {
        padding: 0px;
    }

    .img-logo-2 {
        margin-top: 40px;
        width: 200px;
        height: 200px;
    }

    .box {
        display: none;
    }

    #box-smartphone {
        display: inline-block;
        margin-bottom: 50px;
    }

    .box:hover input {
        width: 100%;
        border-radius: 10px;
    }

    .input {
        width: 100%;
        padding: 10px;
        background: none;
        border: 1px solid black;
        border-radius: 50px;
        box-sizing: border-box;
        font-size: 26px;
        color: black;
        outline: none;
    }

    .input:hover {
        border: 1px solid black;
        color: black;
    }

    .box i {
        position: absolute;
        right: 20px;
        font-size: 20px;
        color: black;
        transition: all 0.2s;
    }

    .hide-smart {
        display: none;
    }

    .card-style-categorie {
        backdrop-filter: blur(20px);
        box-shadow: 10px 10px 0px rgb(40, 40, 40);
        border-radius: 0;
        margin: 20px 0;
        z-index: 2;
    }

    .card-style {
        box-shadow: 10px 10px 0px rgb(40, 40, 40);
        border-radius: 0;
    }

    .iconNavbar {
        display: none;
    }

    .card2 {
        box-shadow: 10px 10px 0px rgb(40, 40, 40);
        border-radius: 0;
    }
    .card-animation.scrolled {
        opacity: 1;
    }

    .scrolled.slide-left {
        animation: slide-in-bottom 1s ease-in-out both;
        backdrop-filter: blur(20px);

        box-shadow: 5px 7px 0px rgb(40, 40, 40);
        border-radius: 0;
    }

    .btn-custom-nav-smt {
        display: none;
    }

    /* search bar anim smart */
    .searchbar {
        position: relative;
        display: inline-block;
        height: 100%;
        width: 100%;
    }

    .placeholder-text {
        position: absolute;
        left: 0;
        height: 100%;
        padding: 8px 15px;
    }

    .fixed-text {
        font-size: 26px;
        color: gray;
    }

    .text-anim {
        display: inline;
        font-size: 26px;
        color: gray;
    }

    .cursor {
        font-size: 26px;
    }
}
